/*
This is the style sheet for the
webdesign course
*/

body {
  background: #F0F0F0;
  font-family: Tahoma, Geneva, Helvetica;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  background-color: #5B94A6;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

nav {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 50%;
}

/* table, th, td {
  border: 1px solid black;
}
*/

th {
  height: 50px;
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ABABAB;
}

tr:nth-child(even) {background-color: #CCCCCC;}
tr:hover {background-color: #BFBFBF;}

img {
  width: 50px;
}

footer {
  background-color: #CCCCCC;
  font-size: 12px;
}
