/*
This is the style sheet for the
webdesign course

Notes:
- on links <a>:
a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover

a:focus -- this is activated by tab-ing
           through a page.

a:link -- if this is not defined, then the links
          will take on the appearance of a

Classes: . (can be used multiple times)
IDs:     # (can be used only once)

*/

body {
  background: #F0F0F0;
  font-family: Tahoma, Geneva, Helvetica;
  margin: 1.5%;
}

ol, ul{
  list-style: initial;
  list-style-position: inside;
  margin-bottom: 2.5%;
}

main {
  margin-top: 1.5%;
}

h1 {
  font-variant: small-caps;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2.5%;
  padding-top: 2px;
  color: #fff7eb;
}

header {
  padding-bottom: 5px;
  background: #466368;
  background: radial-gradient(#648880, #293f50);
  border-radius: 5px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2.5%;
}

p {
  text-align: justify;
  margin-top: 2.5%;
}

section {
  display: inline-block;
  width: 30%;
  float: left;
  margin-right: 2%;
  margin-bottom: 1.5%
}

.columnsection {
  width: auto;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3;

  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  -o-column-gap: 15px;
  column-gap: 15px;

  border-radius: 15px;

  border-style: solid;
  border-color: #9B9B9B;
  border-width: 1px;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

nav {
  text-align: center;
  padding-bottom: 2px;
}

.navlink {
  margin-left: 2px;
  margin-right: 2px;
}

/*
.superwide {
  margin-left: 20px;
  margin-right: 20px;
}
*/

table {
  border-collapse: collapse;
  width: 50%;
}

.tablesection {
  width: 80%;
}

/* table, th, td {
  border: 1px solid black;
}
*/

th {
  height: 50px;
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ABABAB;
}

tr:nth-child(even) {background-color: #CCCCCC;}
tr:hover {background-color: #BFBFBF;}

img {
  width: 50px;
}

details {
  font-style: italic;
}

summary {
  font-style: normal;
}

footer {
  background-color: #CCCCCC;
  font-size: 12px;
  clear: both;
  padding-bottom: 5px;
}

a:link {
  color: #94cdff;
}

a:visited {
  color: #bc9cd9;
}

a:hover {
  background-color: #AAAAAA;
  color: #EEEEEE;
}

a:focus {
  background-color: #AAAAAA;
  color: #EEEEEE;
}

/*
style all of the anchor links
inside the nav tag

nav a {
  background-color: #FF0000;
  color: #FFFFFF;
}

more constrained, the anchor elements
must be a direct child of nav (no
intermediate tags)

nav > a {
background-color: #FF0000;
color: #FFFFFF;
}

elements must be at the same level
and follow each other
h1 + ol{
  ...
}

*/


/* for thee list-style-image below there
are two choices. Use the square if you can
not find the image, otherwise the icon.gif*/

#hobbylist {
  /*list-style-type: lower-alpha;*/
  list-style-image: url('../img/icons8-lightning-bolt-26.png');
}

/* in order to style the images in the
footer, you need to specify the order
as follows:

footer img{
  border: 10px solid;
}
*/

/*
section.borderclass {
  border: 10px solid;
}
*/

/* apply styling to every
single element on your page:
* {
  border: 5px dashed;
}
*/

/*
Attribute selector, style
all links that point to
info.html:

a[href="info.html"]{
  ...
}

^ : match the beginning exactly:
a[href^="http://umich"]

$: match the end exactly:
img[src$=".png"]

*: wildcard
a[href*="umich"]
*/

/*
a[href*="xample.html"] {
  background-color: #FF0000;
  color: #FFFFFF;
}
*/
